.button {
    padding: 0.7rem 1rem;
    border: 1px solid var(--btn-border);
    background: inherit;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: var(--btnText);
    transition: all ease .2s;
}

.button:hover {
    background: rgba(255, 211, 105, 0.8);
    font-weight: 600;
    font-size: var(--defaultText);
}

.btn-link {
    margin-top: 2rem;
}