.container {
    display: flex;
}

.aboutme,
.img {
    flex: 1;
}

.heading {
    display: flex;
    width: 100%;
}

.heading hr {
    display: inline;
}

.stack {
    display: flex;
}

.stack ul {
    list-style-type: square;
}

.stack>ul {
    margin-right: 3rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg {
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }

    .img {
        margin-top: 3rem;
    }
}

@media (max-width: 600px) {
    .stack>ul {
        margin-right: 1rem;
    }
}

@media (max-width: 425px) {
    .stack>ul {
        margin-right: .2rem;
    }
}