.contact {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 2rem;
}

.contact p {
    line-height: 1.5;
    font-size: var(--largeText);
}

.getInTouch {
    font-size: var(--extraLargeText);
    margin: 0;
}

.form {
    width: 100%;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
    border: 0;
    padding: .7rem;
    border-radius: 2px;
}

.nameEmail {
    display: flex;
    justify-content: space-between;
}

.nameEmail input {
    width: 49% !important;
}

.message {
    outline: none;
    margin-bottom: 2rem !important;
}

@media (max-width: 768px) {
    .contact {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .contact {
        padding: 1rem;
    }
}