.hero {
    margin-top: 3rem;
    /* margin-bottom: 6rem; */
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.hero h1 p {
    display: block;
    font-size: 4.5rem;
    margin: 0;
}

.salute {
    font-size: 1.5rem;
}

.intro {
    font-size: 18px;
    margin-bottom: 2.5rem;
    line-height: 1.5;
}