/* Hero Animation styles */

.heroAni-appear {
    opacity: 0;
}

.heroAni-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.heroAni-enter {
    opacity: 0;
}

.heroAni-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1000ms, transform 1000ms;
}

.heroAni-enter-done {
    opacity: 1;
}

.heroAni-exit {
    opacity: 1;
}

.heroAni-exit-active {
    opacity: 0;
    transition: opacity 3000ms, transform 3000ms;
}

.heroAni-exit-done {
    opacity: 0;
}


.hero {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.heading span {
    display: block;
    font-size: var(--xxLargeText);
    margin: 0;
}

.salute {
    font-size: var(--heading) !important;
}

.intro {
    font-size: 18px;
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1110px) {
    .heading span {
        font-size: var(--xxLarge);
    }
}

@media (max-width: 1110px) {
    .heading span {
        font-size: 60px;
    }
}

@media (max-width: 870px) {
    .heading span {
        font-size: 50px;
    }

    .salute {
        font-size: 25px !important;
    }
}

@media (max-width: 768px) {
    .socialLinks {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 870px) {
    .heading span {
        font-size: 40px;
    }

    .salute {
        font-size: 25px !important;
    }
}

@media (max-width: 466px) {
    .heading span {
        font-size: 40px;
    }

    .salute {
        font-size: 20px !important;
    }
}

@media (max-width: 360px) {
    .heading span {
        font-size: 25px;
    }

    .salute {
        font-size: 20px !important;
    }
}