.proj,
.projMobile,
.articleList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.projects,
.projMobile,
.articleList {
    margin-bottom: 8rem;
}

.loadMore {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.projMobile {
    display: none;
}

.projItem {
    position: relative;
    cursor: pointer;
    background: var(--hover);
}

.stack {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--defaultText);
}

.stack span {
    padding-right: .5rem;
}

.gitTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.gitTitle span {
    font-weight: 600;
    font-size: var(--littleLarge);
}

.github {
    display: flex;
    align-items: center;
}

/* Project Details on Hover */

.projEnlarge {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 20;
    width: 120%;
    margin-top: -20px;
    margin-left: -20px;
    height: auto;
    cursor: default;
    background: var(--hover);
}

.projEnlargeShow {
    display: block;
}

.projEnlargeHide {
    display: none;
}

.projDetails {
    display: block;
    padding: .5rem 1rem;
}

.projDetails h4 {
    margin: 0;
}

.projDetails p {
    margin: .5rem 0;
}

.projImg {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* Articles */

.article {
    background: inherit;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 2px solid var(--text-color);
}

.article:hover {
    border-top: 2px solid var(--btn-hover);
}


.article h4 {
    font-size: 25px;
    margin: .5rem 0;
}

.article span {
    color: var(--btn-hover);
}

.articlesHead {
    text-align: center;
}


@media (max-width: 810px) {

    .proj,
    .articleList,
    .projMobile {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .projDetails h4 {
        font-size: var(--defaultText);
    }
}

@media (max-width: 768px) {
    .stack {
        font-size: var(--btnText);
    }
}

@media (max-width: 627px) {
    .projects {
        display: none;
    }

    .projMobile {
        display: grid;
    }
}

@media (max-width: 375px) {

    .projMobile,
    .articleList {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .article {
        padding: 1rem;
    }
}