:root {
  --body-color: #222831;
  --text-color: #fff;

  --btn-border: #ffd369;
  --btn-hover: #ffd369;

  --heading: #eeeeee;
  --rule: #ffd369;
  --hover: #393e46;

  --defaultText: 16px;
  --btnText: 14px;
  --largeText: 18px;
  --extraLargeText: 25px;
  --litleHeading: 30px;
  --heading: 35px;
  --xxLargeText: 80px;
  --xxLarge: 70px;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--body-color);
  color: var(--text-color);
  max-width: 1400px;
  margin: 0 auto;
  font-size: var(--largeText);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--text-color);
    background: var(--background-dark);
  }
}

section {
  margin: 0 0 8rem 0;
}